### Framework & Dependency ###
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

### Environment Files ###
.env
.env.backup
.env.production

### Cache & Log Files ###
/.phpunit.cache
/.phpunit.result.cache
.phpactor.json

### Laravel Specific ###
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json

### IDE Directories ###
/.fleet
/.idea
/.nova
/.vscode
/.zed